<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Commander Page</title>
    </head>
    <body>
    <div id="advanced_search_container"></div>
    <script src="./adsearchpage.bundle.js"></script>
    </body>
</html>