<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game</title>
    </head>
    <body>
        <h1>Game Title: <%= title %></h1>
        <h2>Game Creator: <%= creator %></h2>
    </body>
</html>