<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
<title>HomePage</title>
</head>
<ul class='nav'>
          <li class='nav'><a class="active" href="/">Home</a></li>
          <li class='nav'><a href="/cardsearch">Card Search</a></li>
          <li class='nav'><a href="/decklist">Decklist</a></li>
          <li class='nav'><a href="/commander">Commander</a></li>
          <li class = 'login'><a href="/loginpage">Login/Register</a></li>
</ul>
<body>
<h1>Welcome to Luke Richard's Commander Website!</h1>
<h3>What is Magic: The Gathering?</h3>
<h3>Magic: The Gathering (colloquially known as Magic cards or just Magic) is both a collectible and digital collectible card game created by Richard Garfield. 
Released in 1993 by Wizards of the Coast (now a subsidiary of Hasbro), Magic was the first trading card game and has approximately twenty million players as of 
2015, and over twenty billion Magic cards produced in the period from 2008 to 2016, during which time it grew in popularity.
<h3>Each game of Magic represents a battle between wizards known as planeswalkers who cast spells, use artifacts, and summon creatures as depicted on individual 
cards in order to defeat their opponents, typically, but not always, by draining them of their 20 starting life points in the standard format. Although the 
original concept of the game drew heavily from the motifs of traditional fantasy role-playing games such as Dungeons & Dragons, the gameplay bears little 
similarity to pencil-and-paper adventure games, while simultaneously having substantially more cards and more complex rules than many other card games.
</h3>
<h3>Magic can be played by two or more players, either in person with printed cards or on a computer, smartphone or tablet with virtual cards through the 
Internet-based software Magic: The Gathering Online or other video games such as Magic: The Gathering Arena. It can be played in various rule formats, 
which fall into two categories: constructed and limited. Limited formats involve players building a deck spontaneously out of a pool of random cards 
with a minimum deck size of 40 cards; in constructed formats, players create decks from cards they own, usually with a minimum of 60 cards per deck.
</h3>
<img src="https://wallpaperplay.com/walls/full/4/4/b/165308.jpg" height="500" class="center">
<h3>What is Commander?</h3>
<h3>Commander is a format where players construct 100-card decks, with each card except basic lands appearing no more than once. 
    The format is primarily played with four players, each with their own deck. Players also choose a legendary creature or Planeswalker 
    to be their "Commander" or "General" (a Planeswalker must be designated as allowed to be used as a Commander), which begins the game 
    in the "Command Zone". Each player's deck is based and built around their Commander's colors. In addition to the same losing conditions 
    that exist in a normal game of Magic, each player starts the game with 40 life points instead of 20, and a player may lose if he or she 
    is dealt 21 or more total points of combat damage from a single Commander throughout the game. Commander is most commonly played in 
    groups of four, but larger groups do happen. 
</h3>
<h3>My Favorite Commander:
</h3>
<img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=382276&type=card" height="300" class="center">
<h3>Make an account and then head over to the Commander Tab to find your Commander and begin building your deck!
</h3>
</body>
</html>
